@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.vanish{
    display: none;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em;
}
#image-section {
background-image: url('./images/pattern-bg.svg');
background-repeat: no-repeat;
background-position: center center;
background-size: contain;
padding: 2em;
    margin-bottom: 3em;
}
#image-section .person{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#image-section .person img{
    z-index: 0;
    position: relative;
    width: 95%;
    margin-top: .25em;
    border-radius: .5em;
    bottom: 0;
    left: 0;
}
#image-section .swapper{
    display: flex;
    z-index: 10;
    position: absolute;
    top: 20em;
    left: 50%;
    background-color: white;
    width: 22.5%;
    padding: .75em 1em;
    justify-content: space-between;
    border-radius: 2em;
    transform: translate(-50%, -50%);
    box-shadow: -15px 5px 20px rgba(0, 0, 0,.2);
}
#image-section .swapper img{
    z-index: 100;
    position: relative;
    width: 20%;
    bottom: 0;
    left: 0;
}
#quotes-section{
    font-family: 'Inter',sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    text-align: center;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 1.35em;
    color: hsl(240, 38%, 20%);
}
#quotes-section img{
    position: absolute;
    z-index: -100;
    width: 18.5%;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
}
.author{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
strong{
    font-size: .9em;
    font-weight: 700;
    margin-top: 1em;
    color: hsl(240, 38%, 20%);
}
small{
    margin-top: -.25em;
    font-weight: 500;
    font-size: .8em;
    color: hsl(240, 18%, 77%);
}
main img{
    position: absolute;
    bottom: -1em;
    left: -1em;
    width: 80%;
}

@media (min-width: 768px) {
    main {
        height: 100vh;
        flex-direction: row-reverse;
        padding: 2em;
    }
    #image-section {
        right: 5em;
        position: absolute;
        width: 45%;
        padding: 2em;
        margin-bottom: 0;
    }
    #image-section .person {
        width: 100%;
        padding: 2em;
    }
    #image-section .person img {
        z-index: 0;
        position: relative;
        width: 95%;
        margin-top: .25em;
        border-radius: .5em;
        bottom: 0;
        left: 0;
    }
    #image-section .swapper {
        top: 90%;
        left: 30%;
        width: 17.5%;
        padding: 1em 1.25em;
        box-shadow: 5px 5px 60px rgba(0, 0, 0, .45);
    }
    #image-section .swapper img {
        z-index: 100;
        position: relative;
        width: 20%;
        bottom: 0;
        left: 0;
    }
    #quotes-section {
        left: 5.5em;
        position: absolute;
        z-index: 100;
        width: 46%;
        font-size: 2.1em;
        text-align: left;
    }
    #quotes-section img {
        top: -5%;
        left: 24%;
    }
    .author {
        margin-top: 1em;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-end;
    }
    strong {
        font-size: .7em;
        margin-top: 0;
        margin-right: .5em;
    }
    small {
        margin-top: 0;
        font-size: .6em;
    }
    main img {
        bottom: -1em;
        left: -2em;
        width: 50%;
    }
}